body {
    background-color: rgb(15, 14, 14);
    padding: 0;
    margin: 0;
}

form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    font-family: Verdana,Tahoma,sans-serif;
    font-size: 15px;
    background-color: #f50d0d;
    
}

h1 {
    margin-bottom: 20px;
    margin-left: 20px;
    color: #28e461;
    text-shadow: 5px 5px 5px black;
}

input, textarea {
    width: 200px;
    padding: 10px;
    color: black;
    margin-left: 20px;
    margin-top: 20px;
    border: 1px solid #999;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

input:hover, textarea:hover, input:focus, textarea:focus {
    border-color: #000066;
    box-shadow: 5px 0px 9px #FFFF00;
    background-color: #66FFFF;
    color: black;
    font-weight: bold;
}

.enviar {
    background-color: #66FFFF;
    height: 40px;
    width: 100px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
    color: black;
}

textarea {
    width: 400px;
    height: 120px;
    line-height: 10px;
    max-width: 320px;
}

form label {
    display: inline-block;
    width: 90px;
    text-align: left;
    margin-left: 20px;
    color: #FFFFFF;
    font-weight: bold;
    
}